body{
  margin-left: 10px;
  margin-top: 10px;

  form{
    max-width: 300px;
    float:left;
  }

  button, label, fieldset{
    margin-top: 10px;
    float: left;
  }

  canvas{
    display: block;
  }

  #explanation{
    margin-bottom: 30px;
  }
}